:root{
  --color-primary: #665c52;
  --color-primary2: #74b3a7;
  --color-secondary: #a3ccaf;
  --color-secondary2: #e6e1cf;
  --color-yellow-light: #cc5b14;
  --color-gray: #ccc;
  --color-gray-dark: #333;
  --color-white: #f8f9f8;
  --color-white-transp: rgba(248, 249, 248, 0.2);
  --color-text-light: #d4dbd4;
  --color-text-dark: #161816;

  
  
  }