:root{
  --color-primary: #140f07;
  --color-primary2: #4a2d03;
  --color-secondary: #92680a;
  --color-secondary2: #e1b01e;
  --color-yellow-light: #fff849;
  --color-gray: #ccc;
  --color-gray-dark: #333;
  
  
  }